<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smzdm.dao.NewMapper">
    <!--插入一条资讯-->
    <insert id="insertNews" parameterType="com.smzdm.bean.News" >
        INSERT into t_news VALUES (null,#{news.title},#{news.link},#{news.image},#{news.commentCount},
                                    #{news.createdDate},#{news.name},#{news.likeCount});
    </insert>

    <!--查询所有资讯-->
    <select id="selectAllNews" resultType="com.smzdm.bean.News">
        SELECT * FROM t_news;
    </select>

    <!--按id查询资讯-->
    <select id="selectNewsById" parameterType="int" resultType="com.smzdm.bean.News">
        SELECT * from t_news WHERE id=#{id};
    </select>

    <!--更新资讯评论数-->
    <update id="updateNewsCommentCountById" parameterType="com.smzdm.bean.News">
        UPDATE t_news SET commentCount=#{news.commentCount} where id=#{news.id}
    </update>

    <!--更新资讯点赞数-->
    <update id="updateLikeCountById" parameterType="hashmap" >
        UPDATE t_news SET likeCount=#{likeCount} where id=#{id};
    </update>

</mapper>